## Setup

In [1]:
import warnings
import sys 
if not sys.warnoptions:
    warnings.simplefilter("ignore")
import numpy as np
import glob
import pandas as pd
import os.path as op
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import scipy as sp
from scipy import stats
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.set_option('display.precision', 5)
pd.set_option('chained_assignment', None)
sns.set_style("white")
sns.despine()
#sns.set_context("poster", font_scale=3, rc={"lines.linewidth": 1.5})
sns.set(style="ticks", font_scale=1, font='Arial', rc={"lines.linewidth": 2,'axes.labelcolor':[0,0,0], 'axes.edgecolor':[0,0,0],
'xtick.color':[0,0,0], 'ytick.color':[0,0,0],'text.color':[0,0,0],'axes.linewidth': 2, "font.size":13,"axes.titlesize":14,"axes.labelsize":12,
                                                                        "xtick.labelsize":12, "ytick.labelsize":12})
plt.figure(figsize=(10, 10))
mpl.rc("savefig", dpi=300)
sns.set(style="ticks",context='notebook')

In [3]:
import os
os.environ["KMP_DUPLICATE_LIB_OK"]="TRUE"

## Load Data

In [4]:
path = '/Volumes/data/Avi/Analysis/Citibike/data'
trips_all = pd.read_csv('%s/201306-citibike-tripdata.csv'%path)

In [5]:
trips_all.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [6]:
trips_all.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.74235,-73.98915,434.0,9 Ave & W 18 St,40.74317,-74.00366,19678,Subscriber,1983.0,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.74235,-73.98915,434.0,9 Ave & W 18 St,40.74317,-74.00366,16649,Subscriber,1984.0,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.69513,-73.99595,406.0,Hicks St & Montague St,40.69513,-73.99595,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.73524,-73.98759,262.0,Washington Park,40.69178,-73.97373,16352,Subscriber,1960.0,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.70569,-74.01678,310.0,State St & Smith St,40.68927,-73.98913,15567,Subscriber,1983.0,1

In [16]:
calendar_all.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,18764,2019-06-03,f,$145.00,$145.00,3.0,90.0
1,18764,2019-06-04,f,$145.00,$145.00,3.0,90.0
2,18764,2019-06-05,t,$145.00,$145.00,3.0,90.0
3,18764,2019-06-06,f,$145.00,$145.00,3.0,90.0
4,18764,2019-06-07,f,$145.00,$145.00,3.0,90.0

In [10]:
listings_all.shape

(48801, 106)

In [14]:
calendar_all.shape

(17812547, 7)

In [ ]:
calendar_all['price'].mean()